<html>
  <head>
      {% include '/includes/head.html.twig' %}
  </head>
  <body>
    <div class="container">

      {% if cuisines is not empty %}
          <p>Here is the cuisine:</p>
          <ul>
                  <li>{{ cuisine.getCuisine_type }}</li>
          </ul>
          {% else %}
              <p>You haven't added any cuisines yet!</p>
      {% endif %}

      <p><a href="/cuisines/{{ cuisine.getId }}/edit">Edit this cuisine</a></p>
      <p><a href="/restaurants">Add restaurants to this cuisine</a></p>

      <p><a href='/'>Home</a></p>
    </div>
  </body>
</html>
