<html>
  <head>
      {% include '/includes/head.html.twig' %}
  </head>
  <body>
    <div class="container">

      <h1>Restaurants</h1>

      <form action='/restaurants' method='post'>

          <!-- PHP seems to really hate this line of code below. It's there to hypothetically call the cuisine_id to tie it to the restaurant but we get a 'Variable "cuisine" does not exist in "restaurants.html.twig" at line 11' error if the line is included. -->
          <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId() }}">

          
          <label for='name'>Restaurant Name</label>
          <input id='name' name='name' type='text'>
          <br><br>

          <label for='website'>Restaurant Website</label>
          <input id='website' name='website' type='text'>
          <br><br>

          <label for='phone_number'>Restaurant Phone Number</label>
          <input id='phone_number' name='phone_number' type='text'>
          <br><br>
          <button type='submit'>Add restaurant</button>
      </form>
      <form action='/delete_restaurants' method='post'>
          <button type='submit'>Clear</button>
      </form>

      <p><a href='/'>Home</a></p>
    </div>
  </body>
</html>
